node_modules/

# Next.js build output
.next/

# Static files generated during build
out/

npm-debug.log

# OS-specific files
Thumbs.db

# Environment variables
.env
.env.local
.env.development
.env.test

# TypeScript cache
*.tsbuildinfo

# Vercel or Netlify settings
.vercel/
